.blog {
  .site-content {
    height: auto;
  }

  .blog-entry {
    margin-bottom: 30px;

    header {
      a {
        font-size: 20px;
        background: #000;
        border-radius: 5px;
        padding: 4px 8px;
        display: table-cell;
        color: #FFF;
        text-decoration: none;

        &:hover {
          color: #CCC;
        }
      }

      p {
        margin-top: 8px;
        font-weight: bold;
      }
    }
  }

  .next-prev-links {
    list-style: none;
    display: flex;

    li {
      &:last-of-type:not(:first-of-type) {
        margin-left: 10px;
        border-left: 1px solid #000;
        padding-left: 10px;
      }
    }
  }
}