{% extends "./partials/layout.html" %}

{% block content %}

{% raw %}{{ widget('blog') }}{% endraw %}

<!-- build:test-content -->
<div class="blog-container">
  <div class="blog-entries">
    <article class="blog-entry">
      <header>
        <h1><a href="example-blog-post-12.html">Example Blog Post 12</a></h1>
        <p>22nd September 2015</p>
      </header>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet felis ligula. Maecenas ac nibh blandit, rhoncus orci ac, lobortis nisl. Curabitur ultricies, dolor sed pharetra dapibus, nisl nisi facilisis dolor, a dictum sem neque nec magna. Pellentesque viverra lectus a enim maximus porttitor. Nulla tincidunt varius venenatis. Nulla efficitur dapibus turpis ac fringilla. Vivamus ultricies libero sapien, quis finibus orci sodales at. Vestibulum sed pellentesque velit. Cras posuere imperdiet nisi non viverra. Proin aliquam lobortis orci vel dictum. Nulla quis suscipit nulla, quis convallis enim. Nullam congue laoreet blandit. Cras dignissim lectus sed vulputate sagittis.</p>

        <p>Aliquam ultricies eros purus, luctus dictum orci tristique id. Donec sed auctor tellus. Aliquam sed dui vel metus ornare sodales. Quisque ac viverra tortor. Sed lacinia convallis suscipit. Aliquam condimentum eget orci sed vehicula. Sed bibendum interdum molestie.</p>
      </div>
    </article>
  </div>

  <div class="sidebar">
    <div class="recent-posts">
      <h3>Recent Posts</h3>
      <ul>
        <li><a href="example-blog-post-12.html">Example Blog Post 12</a></li>
        <li><a href="example-blog-post-11.html">Example Blog Post 11</a></li>
        <li><a href="example-blog-post-10.html">Example Blog Post 10</a></li>
        <li><a href="example-blog-post-9.html">Example Blog Post 9</a></li>
        <li><a href="example-blog-post-8.html">Example Blog Post 8</a></li>
      </ul>
    </div>

    <div class="archive">
      <h3>Archive</h3>
      <ul>
        <li><a href="september-2015.html">September 2015</a></li>
        <li><a href="august-2015.html">August 2015</a></li>
        <li><a href="july-2015.html">July 2015</a></li>
        <li><a href="june-2015.html">June 2015</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="next-prev-links">
  <ul>
    <li class="next"><a href="blog-page-2.html">Newer Posts</a></li>
    <li class="prev"><a href="blog-page-3.html">Older Posts</a></li>
  </ul>
</div>
<!-- endbuild -->

{% endblock %}
